numpy
pandas
scikit-learn
matplotlib
scipy
seaborn
xgboost
joblib
pickle-mixin

flask
tensorflow
keras

jupyter
notebook
ipykernel
ipython
jupyterlab
nbconvert

opencv-python
pillow
requests
beautifulsoup4
lxml

sqlalchemy


tqdm
json5
python-dotenv
gunicorn
waitress

markupsafe
werkzeug
itsdangerous
click

# Optional but useful
pydantic
uvicorn
fastapi
